.form {
    margin-bottom: 50px;
}

.label {
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgb(52, 51, 51);
    margin-bottom: 8px;
}

.input {
    display: block;
    margin-bottom: 15px;
    width: 100%;
    font-size: 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 10px;
}

.button {
    margin-top: 15px;
    padding: 8px;
    min-width: 100px;
}

.error {
    margin-bottom: 15px;
    color: red;
}